@media (min-width: 992px){
    .infonav{
    display: none;
    }
}
@media(max-width: 991px){
    .tottho{
        display: none;
    }
}
@media(min-width:1025px){
    
}
@media(max-width:992px){
    .nav-link{
        font-size: 12px;
    }
    .iconn{
        font-size: 14px;
    }
    .icon-content h1{
        font-size: 10px;
    }
    .icon-content p{
        font-size: 7px;
    }
    .caro{
        
    }
    .car1{

}
    .car1-content{
        text-align: left;
    }
    .car1-content h2{
        text-align: left;
        font-size: 32px;
        width: fit-content;
        padding: 0px 10px;
    }
    .car1-content h1{
        text-align: left;
        font-size: 33px;
        padding: 0px 10px;
        width: fit-content;
    }
    .car1-content p{
        
font-size: 14px;
    }
    .learnmore{

font-size: 18px;
}
    .booknow{

font-size: 18px;
}
.welcome{
    
background-color: #ffffff38;
    
background-blend-mode: color;
}
.wlcm-rw{
    
}
.wlcm-mdiv{

}
.wlcm-intro{

}  
.wlcm-intro h1{

} 
.wlcm-intro p{

}
.wlcm{

}
.wlcm-content{

}
.wlcm-content h1{


}
.wlcm-content p{
    
}
.meet{

}
.dh1{

}
.dh1 h1{

}
.dh1 p{

}
.identity{

}
.borderr{

}
.doctor{

height: 250px;
}
.item-img{

}
.item-img img{

}
.icon-box{

font-size: 33px;
}
.icon-box ul{

}
.icon-box ul li{

}
.icon-box ul li i{

}
.identity h1{

}
.identity p{
    
}
.servimg h1 {
   
}
.servbd p {
   
}
.servbd a{
   
}
.pricedv{

}
.plh1{
}
.pricedv p{

margin: 8px 0px;
}
.price-tag{

}
.h11{

}
.price-tag p{

}
.sign-up{
    
}
.happy-clients{

}
.larrow{

}
.larrow i{

}
.iico{

}
.company1{

}
.company1 img{

}
.f11{

}
.f11 .logo2{

}
.logo2 img{

}
.f11 p{

}
.llocation{

}
.llocation i{

}
.lp{

}
.lp p{

}
.f12{

}
.f12h{

}
.f12h h1{
    
}
.mini{

}
.mini-img{

}
.mini-img img{

}
.mini-content{

}
.mini-content h4{

}
.mini-content p{

}
.f13{

}
.f13h{

}
.f13h h1{

}
.f13 p{

}
.input-group{

}
.form-control{

}
.fbtn{

}
.follow{

}
.follow p{

}
.focon{

}
.focon i{

}
.copyr p{

}
.copyr p span{
    
}
} 
@media(max-width:768px){
    .nav-link{
        font-size: 11px;
    }
    .iconn{
        font-size: 14px;
    }
    .icon-content h1{
        font-size: 10px;
    }
    .icon-content p{
        font-size: 7px;
    }
    .caro{
        
    }
    .car1{

}
    .car1-content{
        text-align: center;
        background: none;
        justify-content: center;
    }
    .car1-content h2{
        text-align: center;
        font-size: 26px;
        padding: 0px 10px;
        width: auto;
    }
    .car1-content h1{
        text-align: center;
        font-size: 33px;
        padding: 0px 10px;
        width: auto;
    }
    .car1-content p{
        
font-size: 15px;
    }
    .learnmore{

font-size: 16px;
}
    .booknow{

font-size: 16px;
}
.welcome{

background-color: #f0fbfc;

background-blend-mode: color;

background-image: none;
}
.wlcm-rw{justify-content: center;}
.wlcm-mdiv{
    text-align: center;
    width: auto;
}
.wlcm-intro{
    padding: 0px 25px;
}  
.wlcm-intro h1{

font-size: 25px;
} 
.wlcm-intro p{

font-size: 15px;
}
.wlcm{

}
.wlcm-content{

}
.wlcm-content h1{

}
.wlcm-content p{
    
font-size: 13px;
}

.meet{

padding: 50px 0px;
}
.dh1{

padding: 0px 20px;

}
.dh1 h1{
    
}
.dh1 p{

}
.identity{

}
.borderr{

}
.doctor{

height: 180px;
}
.item-img{

}
.item-img img{

}
.icon-box{

font-size: 23px;
}
.icon-box ul{

}
.icon-box ul li{

}
.icon-box ul li i{

}
.identity h1{

font-size: 17px;
}
.identity p{
    
font-size: 12px;
}
.servimg{

}
.servimg .img{

}
.servimg .img img{

}
.sh1{

}
.sh1 h1{
    
}
.servimg h1 {
   font-size: 14px;
}
.servbd p {
   font-size: 12px;
}
.servbd a{
   
font-size: 12px;
}
.pricedv{
}
.plh1{

min-height: 50px;
}
.plh1 h1{

font-size: 20px;
}
.pricedv p{

font-size: 12px;

margin: 7px 0px;
}
.price-tag{

}
.h11{

font-size: 35px!important;
}
.price-tag p{

}
.sign-up{
    
font-size: 11px;
}
.happy-clients{

}
.larrow{

}
.larrow i{

font-size: 13px;

padding: 3px 5px;
}
.iico{

}
.company1{

}
.company1 img{

}
.f11{

}
.f11 .logo2{

}
.logo2 img{

}
.f11 p{

font-size: 11px;
}
.llocation{

}
.llocation i{

font-size: 30px;
}
.lp{

}
.lp p{

}
.f12{

}
.f12h{

}
.f12h h1{
}
.mini{

}
.mini-img{

}
.mini-img img{

}
.mini-content{

}
.mini-content h4{

font-size: 10px;
}
.mini-content p{

font-size: 9px;
}
.f13{

text-align: center;
}
.f13h{

padding-bottom: 10px;
}
.f13h h1{

font-size: 28px;
}
.f13 p{

}
.input-group{

}
.form-control{

}
.fbtn{

}
.follow{

display: block;

padding-top: 20px;
}
.follow p{

font-size: 20px;
}
.focon{

display: flex;

justify-content: space-around;
}
.focon i{

}
.copyr p{

font-size: 13px;
}
.copyr p span{
    
}
}
@media(max-width:575px){
    .rowhd{

    }
    .infonav{

align-items: center;

}
    .infonavnav{

align-items: center;

padding: 0;

padding-right: 10px;

}
    .internalnv{

    }
    .infnv{

font-size: 15px;

}
    .nav-link{
        font-size: 11px;
    }
    .iconn{
        font-size: 14px;
    }
    .icon-content h1{
        font-size: 8px;
    }
    .icon-content p{
        font-size: 6px;
    }
    .caro{
        
    }
    .car1{

background: none;

}
    .car1-content{
        text-align: center;
        background: none;
    }
    .car1-content h2{
        text-align: center;
        font-size: 20px;
        width: auto;
    }
    .car1-content h1{
        text-align: center;
        font-size: 25px;
        width: auto;
    }
    .car1-content p{
        
font-size: 11px;
    }
    .learnmore{

font-size: 15px;

}
    .booknow{

font-size: 15px;

}
.welcome{
    
background: none;
    
background-color: #f0fbfc;
}
.wlcm-rw{
    
padding: 70px 0px;
}
.wlcm-mdiv{

}
.wlcm-intro{
}  
.wlcm-intro h1{

font-size: 22px;
} 
.wlcm-intro p{

font-size: 13px;
}
.wlcm{

}
.wlcm-content{

}
.wlcm-content h1{

font-size: 14px;
}
.wlcm-content p{
    
font-size: 13px;
}
.meet{

}
.dh1{

}
.dh1 h1{
    
font-size: 28px;
}
.dh1 p{

}
.identity{

}
.borderr{

}
.doctor{

height: 205px;
}
.item-img{

}
.item-img img{

}
.icon-box{

}
.icon-box ul{

}
.icon-box ul li{

}
.icon-box ul li i{

}
.identity h1{

font-size: 15px;
}
.identity p{font-size: 11px;}
.servimg{

display: block;

text-align: end;

text-align: center;

min-height: 100px;
}
.servimg .img{

padding: 0px;
}
.servimg .img img{

width: 30px;
}
.sh1{

}
.sh1 h1{
    
}
.servimg h1 {
   font-size: 18px;
}
.servbd p {
   font-size: 11px;
}
.servbd a{
   
font-size: 11px;
}
.pricedv{

}
.plh1{

}
.plh1 h1{
    
font-size: 16px;
}
.pricedv p{

font-size: 11px;

margin: 5px 0px;
}
.price-tag{

}
.h11{

}
.price-tag p{

}
.sign-up{
    
}
.happy-clients{

}
.larrow{

}
.larrow i{

font-size: 10px;

padding: 2px 4px;
}
.iico{

padding: 0px 0px;
}
.company1{

}
.company1 img{

}
.f11{

}
.f11 .logo2{

}
.logo2 img{

}
.f11 p{

font-size: 9px;
}
.llocation{

margin-bottom: 10px;
}
.llocation i{

font-size: 25px;
}
.lp{

}
.lp p{

}
.f12{

}
.f12h{
}
.f12h h1{
    
font-size: 28px;
}
.mini{

}
.mini-img{

}
.mini-img img{

}
.mini-content{

}
.mini-content h4{

font-size: 11px;
}
.mini-content p{

font-size: 7px;
}
.f13{

text-align: center;
}
.f13h{

padding-bottom: 10px;

padding-top: 20px;
}
.f13h h1{

margin: 0;

font-size: 28px;
}
.f13 p{

font-size: 12px;
}
.input-group{

}
.form-control{

font-size: 12px;
}
.fbtn{

font-size: 12px;
}
.follow{

display: block;
}
.follow p{

}
.focon{
}
.focon i{

}
.copyr p{

font-size: 11px;
}
.copyr p span{
    
}
}
@media(max-width:375px){
    .rowhd{

    }
    .infonav{

    }
    .infonavnav{

    }
    .internalnv{

    }
    .infnv{
        
    }
    .nav-link{
        font-size: 11px;
    }
    .iconn{
        font-size: 14px;
        padding: 1px;
    }
    .icon-content h1{
        font-size: 7px;
    }
    .icon-content p{
        font-size: 5px;
    }
    .caro{

    }
    .car1{

    }
    .car1-content{
        text-align: center;
    }
    .car1-content h2{
        text-align: center;
        font-size: 20px;
    }
    .car1-content h1{
        text-align: center;
        font-size: 25px;
    }
    .car1-content p{
        
font-size: 11px;
    }
    .learnmore{

font-size: 15px;

}
    .booknow{

font-size: 15px;

}
.welcome{
    
}
 .wlcm-intro{

 }  
 .wlcm-intro h1{

font-size: 16px;
} 
 .wlcm-intro p{

font-size: 10px;
}
 .wlcm{

 }
 .wlcm-content{

 }
 .wlcm-content h1{

 }
 .wlcm-content p{

font-size: 12px;

}
 .meet{

 }
 .dh1{

 }
 .dh1 h1{
    
font-size: 24px;
}
 .dh1 p{

font-size: 12px;

}
 .identity{

 }
 .borderr{

 }
 .doctor{

height: 180px;

}
 .item-img{

 }
 .item-img img{

 }
 .icon-box{

 }
 .icon-box ul{

 }
 .icon-box ul li{

 }
 .icon-box ul li i{

 }
 .identity h1{

font-size: 14px;

}
 .identity p{

font-size: 11px;

}
.servimg{

}
.servimg .img{

}
.servimg .img img{

}
.sh1{

}
.sh1 h1{

}
 .servimg h1 {
    font-size: 12px;
}
.servbd p {
    font-size: 11px;
}
.servbd a{

font-size: 10px;
}
.pricedv{

}
.plh1{

}
.pricedv p{

}
.price-tag{

}
.h11{

}
.price-tag p{

}
.sign-up{

}
.happy-clients{

}
.larrow{

}
.larrow i{

}
.iico{

}
.company1{

}
.company1 img{

}
.f11{

}
.f11 .logo2{

}
.logo2 img{

}
.f11 p{

}
.llocation{

}
.llocation i{

font-size: 22px;
}
.lp{

}
.lp p{

}
.f12{

}
.f12h{

}
.f12h h1{

font-size: 23px;
}
.mini{

}
.mini-img{

}
.mini-img img{

}
.mini-content{

}
.mini-content h4{

font-size: 8px;
}
.mini-content p{

}
.f13{

}
.f13h{

}
.f13h h1{

}
.f13 p{

}
.input-group{

}
.form-control{

}
.fbtn{

}
.follow{
}
.follow p{

font-size: 20px;
}
.focon{

}
.focon i{

font-size: 24px;
}
.copyr p{

}
.copyr p span{

}
}
@media(max-width:320px){
    .doctor{
        
height: 150px;
    }
}


